@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

[data-mobile-menu-open="true"] {
  transform: translateX(0);
  opacity: 1;
}
[data-mobile-menu-open="false"] {
  transform: translateX(100%);
  opacity: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: disc;
}

ul > * + * {
  margin-top: 0.5rem;
}

h4, h5, h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: rgb(17, 24, 39);
}

strong {
  font-weight: 600;
  color: rgb(17, 24, 39);
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

th {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid var(--foreground);
}

td {
  padding: 8px;
  border-bottom: 1px solid var(--foreground);
  min-width: 70px;
  font-size: 12px;
}

th, td, tr, span, p {
  color: rgb(55 65 81);
  white-space: 'normal';
}